<a href="https://colab.research.google.com/github/Uvaisbugh/Interview-Pre/blob/main/A2z_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def nForest(n: int) -> None:
    # Write your solution here.
    for i in range(n):
        for j in range(n):
            print("*", end=" ")
        print()

nForest(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
def nForest1(n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print("*", end=" ")
        print()
nForest1(5)

*
* *
* * *
* * * *
* * * * *

In [3]:
def nForest2(n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print(j+1, end=" ")
        print()
nForest2(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
def triangle( n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print(i, end=" ")
        print()
triangle(7)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [5]:
def y_pettern(n):
  for i in range(n,0,-1):
    for j in range(i):
      print("*",end=" ")
    print()
y_pettern(7)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
def y_numbers(n):
  for i in range(n,0,-1):
    for j in range(i):
      print(j+1,end=" ")
    print()
y_numbers(7)

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [8]:
def nStarTriangle(n: int) -> None:
    stars = 1
    empty = n-1
    for i in range(n):
        print("{}{}{}".format(' '*empty, '*'*stars, ' '*empty))
        stars+=2
        empty-=1
nStarTriangle(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [10]:
def pyramid(n):
  stars=2* n - 1
  empty= 1
  for i in range(n+1):
    print("{}{}{}".format(' '*empty, '*'*stars, ' '*empty))
    stars-=2
    empty+=1

pyramid(7)

 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [11]:
def nStarDiamond(n: int) -> None:
    star=1
    empty= n-1
    for i in range(n):
        print("{}{}{}".format(' '*empty,'*'*star,' '*empty))
        star +=2
        empty -=1

    star =2*n -1
    empty = 0
    for j in range(n):
        print("{}{}{}".format(' '*empty,'*'*star,' '*empty))
        star -=2
        empty +=1

nStarDiamond(5)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [12]:
def draw(n):
  i = 1
  while i< n:
    print('*'*i)
    i +=1
  while i>0:
    print('*'*i)
    i -=1



draw(5)

*
**
***
****
*****
****
***
**
*

In [13]:
def nBinaryTriangle(n: int) -> None:
    for i in range(1, n + 1):
        for j in range(i):
            print((j + i) % 2, end=" ")
        print()

nBinaryTriangle(6)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [14]:
'''
    Time Complexity - O( N * N )
    Space Complexity - O( 1 )

    where N is the given input.
'''


def nBinaryTriangle2(n: int) -> None:

    # Initialise 'num'.
    num = 1
    for i in range(n):
        for j in range(1, num+1):
            print((i + j) & 1, end=" ")

        # End the current line.
        print()

        num += 1

nBinaryTriangle2(6)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [15]:
n=4
for i in range(n):
  print(" "*(n-i)+"*"*(2*i+1))
for i in range(n-2,-1,-1):
  print(" "*(n-i)+"*"*(2*i+1))

    *
   ***
  *****
 *******
  *****
   ***
    *

In [16]:
for i in range(n):
  if i==0:
    print(" "*(n-i)+"*"*((2*(i))+1))
  else:
    print(" "*(n-i)+"*"+" "*((2*(i-1))+1)+'*')

for i in range(n,-1,-1):
  if i==0:
    print(" "*(n-i)+"*"*((2*(i))+1))
  else:
    print(" "*(n-i)+"*"+" "*((2*(i-1))+1)+'*')

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [17]:
n=5
for i in range(1,n+1):
  for j in range(n,0,-1):
    if (i>=j) :
      print(i,end=" ")
    else:
      print(" ", end=" ")
  print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [ ]:
1      1
12    12
123  123
12341234

In [18]:
 n=9
 for i in range(1, n+1):
        for j in range(1, i+1):
            print(j, end=' ')
        for space in range(1, 4*(n-i)+1):
            print(end=' ')
        for j in range(i, 0, -1):
            print(j, end=' ')
        print()

1                                 1
1 2                             2 1
1 2 3                         3 2 1
1 2 3 4                     4 3 2 1
1 2 3 4 5                 5 4 3 2 1
1 2 3 4 5 6             6 5 4 3 2 1
1 2 3 4 5 6 7         7 6 5 4 3 2 1
1 2 3 4 5 6 7 8     8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 9 8 7 6 5 4 3 2 1

In [19]:
'''
    Time Complexity - O( N * N )
    Space Complexity - O( 1 )

    where N is the given input.
'''


def numberCrown(n: int) -> None:

    # Initialise 'num'.
    num = 1
    gap = (n - 1) * 2
    for i in range(n):
        currentNumber = 1
        for j in range(1, num+1):
            print(currentNumber, end=" ")
            currentNumber += 1
        for j in range(1, gap+1):
            print(" ", end=" ")
        currentNumber -= 1
        for j in range(1, num+1):
            print(currentNumber, end=" ")
            currentNumber -= 1

        # End the current line.
        print()

        num += 1
        gap -= 2
numberCrown(5)

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [20]:
count=1
n=5
for i in range(n+1):
  for j in range(i):
    print(count, end=" ")
    count +=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [22]:
'''
    Time Complexity - O( N * N )
    Space Complexity - O( 1 )

    where N is the given input.
'''


def nNumberTriangle(n: int):

    # Initialise 'num'.
    num = 1
    currentNumber = 1
    for i in range(n):
        for j in range(1, num+1):
            print(currentNumber, end=" ")
            currentNumber += 1
        print()
        num += 1
nNumberTriangle(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [23]:
def nLetterTriangle(n: int) -> None:
    base =64
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(chr(base+j),end=" ")
        print()
    pass
nLetterTriangle(5)

A
A B
A B C
A B C D
A B C D E

In [25]:
'''
    Time Complexity - O( N * N )
    Space Complexity - O(1)

    where N is the given input.
'''


def nLetterTriangle(n: int):

    # Initialise 'num'.
    num = 1
    for i in range(n):
        currentCharacter = 65
        for j in range(1, num+1):
            print(chr(currentCharacter), end=" ")
            currentCharacter += 1
        num += 1
        print()
nLetterTriangle(5)

A
A B
A B C
A B C D
A B C D E

In [26]:
def letter(n):
  import random
  base =64
  for i in range(n):
    for j in range(1,i+1):
      rnd=random.randint(0,25)
      print(chr(rnd+base),end="")
    print()

letter(7)

N
WQ
M@U
A@KG
VXWRU
TLPTEG

In [27]:
def nLetterTriangle(n: int):
    for i in range(n, 0, -1):  # Start from n rows and decrement
        for j in range(1, i + 1):  # Iterate through the columns for the row
            print(chr(ord('A') + j - 1), end=" ")  # Calculate letter using ord
        print()  # Move to the next line
nLetterTriangle(5)

A B C D E
A B C D
A B C
A B
A

In [28]:
'''
    Time Complexity - O( N * N )
    Space Complexity - O(1)

    where N is the given input.
'''


def nLetterTriangle(n: int):

    # Initialise 'num'.
    num = n
    for i in range(n):
        currentCharacter = 65
        for j in range(1, num+1):
            print(chr(currentCharacter), end=" ")
            currentCharacter += 1
        print()
        num -= 1
nLetterTriangle(6)

A B C D E F
A B C D E
A B C D
A B C
A B
A

In [29]:
n=3
for i in range(1,n+1):
  for j in range(i):
    print(chr(ord('A')+i - 1), end= " ")
  print()

A
B B
C C C

In [31]:
'''
    Time Complexity : O( N*N )
    Space complexity: O( 1 )

    Where N is the input integer.
'''


def alphaRamp(n: int):
    # For loop ‘row’ in range 0 to N-1.
    for row in range(n):
        # For loop ‘col’ in range 0 to row.
        for col in range(row+1):
            # Print (char)(col+65).
            print((chr)(row+65), end=" ")
        print()
alphaRamp(5)

A
B B
C C C
D D D D
E E E E E

In [32]:
def alphaRamp(n: int) -> None:

    for i in range(1,n+1):

        c=chr(64+i)

        print((c+" ")*i)

alphaRamp(6)

A
B B
C C C
D D D D
E E E E E
F F F F F F

In [ ]:
    A
   ABA
  ABCBA

In [34]:
n=5
for row in range(1,n+1):
  spaces=n-row
  print("  "*spaces,end="")
  for col in range(1,row+1):
    c=chr(ord('A')+col-1)
    print(c,end=" ")
  for col in range(row-1,0,-1):
    c=chr(ord('A')+col-1)
    print(c,end=" ")
  print()

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [36]:
def alphaHill(n: int):
    for row in range(1, n + 1):
        # Print leading spaces
        print("  " * (n - row), end="")

        # Generate increasing and decreasing parts
        letters = [chr(ord('A') + col - 1) for col in range(1, row + 1)]
        print(" ".join(letters + letters[-2::-1]))
alphaHill(6)

          A
        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A
A B C D E F E D C B A

In [ ]:
E
D E
C D E
B C D E
A B C D E

In [37]:
def alphaTriangle(n: int):
    for row in range(1,n+1):
        for col in range(1,row+1):
            c= chr(64+n-col+1)
            print(f"{c}",end=" ")
        print()

alphaTriangle(5)

E
E D
E D C
E D C B
E D C B A

In [38]:
'''
    Time Complexity : O( N*N )
    Space complexity: O( 1 )

    Where N is the input integer.
'''


def alphaTriangle(n: int):
    # For loop ‘row’ in range 0 to N-1.
    for row in range(n):
        # For loop ‘col’ in range 0 to row.
        for col in range(row+1):
            # Print (char)(N-col+64).
            print((chr)(n-col+64), end=" ")
        print()
alphaTriangle(5)

E
E D
E D C
E D C B
E D C B A

In [39]:
def symmetry(n: int):
    # Upper part of the pattern
    for i in range(n):
        print("* " * (n - i), end="")  # Decreasing stars
        print(" " * (2 * i), end="")   # Increasing spaces
        print("* " * (n - i))          # Decreasing stars

    # Lower part of the pattern
    for i in range(1, n + 1):
        print("* " * i, end="")        # Increasing stars
        print(" " * (2 * (n - i)), end="")  # Decreasing spaces
        print("* " * i)                # Increasing stars
symmetry(5)

* * * * * * * * * *
* * * *   * * * *
* * *     * * *
* *       * *
*         *
*         *
* *       * *
* * *     * * *
* * * *   * * * *
* * * * * * * * * *

In [42]:
for i in range(1, n + 1):
  # Print the left stars
  print("* " * i, end="")
  # Print spaces in the middle
  print("  " * (n - i), end="")
  # Print the right stars
  print("* " * i)

    # Bottom half
  for i in range(n - 1, 0, -1):
        # Print the left stars
      print("* " * i, end="")
        # Print spaces in the middle
      print("  " * (n - i), end="")
        # Print the right stars
      print("* " * i)

*         *
* * * *   * * * *
* * *     * * *
* *       * *
*         *
* *       * *
* * * *   * * * *
* * *     * * *
* *       * *
*         *
* * *     * * *
* * * *   * * * *
* * *     * * *
* *       * *
*         *
* * * *   * * * *
* * * *   * * * *
* * *     * * *
* *       * *
*         *
* * * * * * * * * *
* * * *   * * * *
* * *     * * *
* *       * *
*         *

In [43]:
'''
    Time Complexity : O( N*N )
    Space complexity: O( 1 )

    Where N is the input integer.
'''


def symmetry(n: int):
    # Update n with 2*n

    n = 2*n
    # For loop ‘row’ in range 0 to N-2.
    for row in range(n-1):
        # For loop ‘col’ in range 0 to N-1.
        for col in range(n):
            # Condition for first half of the rows.
            if (row < n/2 and (col <= row or col >= (n-row-1))):
                print('*', end=" ")
            # Condition for the second half of the rows.
            if (row >= n/2 and (col < (n-row-1) or col > row)):
                print('*', end=" ")
            if (row < n/2 and not (col <= row or col >= (n-row-1))):
                print(' ', end=" ")
            if (row >= n/2 and not (col < (n-row-1) or col > row)):
                print(' ', end=" ")
        print()
symmetry(5)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [44]:
# Write your solution here.
n=7
def write(n):
    for i in range(1, n + 1):
        # Print the left stars
        print("* " * i, end="")
        # Print spaces in the middle
        print("  " * (n - i), end="")
        # Print the right stars
        print("* " * i)

    # Bottom half
    for i in range(n - 1, 0, -1):
        # Print the left stars
        print("* " * i, end="")
        # Print spaces in the middle
        print("  " * (n - i), end="")
        # Print the right stars
        print("* " * i)
write(7)

*             *
* *           * *
* * *         * * *
* * * *       * * * *
* * * * *     * * * * *
* * * * * *   * * * * * *
* * * * * * * * * * * * * *
* * * * * *   * * * * * *
* * * * *     * * * * *
* * * *       * * * *
* * *         * * *
* *           * *
*             *

In [45]:
def getNumberPattern(n: int) -> None:
    # Write your solution here.
    size = 2 * n - 1  # Total number of rows and columns in the square
    for i in range(size):
        for j in range(size):
            # Calculate the number to be printed based on the distance from the edges
            num = n - min(i, j, size - 1 - i, size - 1 - j)
            print(num, end="")
        print()
getNumberPattern(5)

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

In [46]:
def symmetry(n: int):
    # Write your solution here.
    for i in range(1, n + 1):
        # Print the left stars
        print("* " * i, end="")
        # Print spaces in the middle
        print("  " * (n - i), end="")
        # Print the right stars
        print("* " * i)

    # Bottom half
    for i in range(n - 1, 0, -1):
        # Print the left stars
        print("* " * i, end="")
        # Print spaces in the middle
        print("  " * (n - i), end="")
        # Print the right stars
        print("* " * i)
symmetry(5)

*         *
* *       * *
* * *     * * *
* * * *   * * * *
* * * * * * * * * *
* * * *   * * * *
* * *     * * *
* *       * *
*         *