<a href="https://colab.research.google.com/github/Uvaisbugh/Interview-Pre/blob/main/Embarks-01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Write a python program to print Number triangle pattern

1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5 <br>

In [1]:
n= 5

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

2) String Compression: Implement a method to perform basic string compression using the counts of repeated characters. For example, the string "aabcccccaaa" would become **"a2b1c5a3".**

In [3]:
def compress_string(s):
    compressed= []
    count = 1

    for i in range(1,len(s)):
        if s[i]==s[i-1]:
            count += 1
        else:
            compressed.append(s[i-1]+ str(count))
            count =1
    compressed.append(s[-1]+ str(count))

    return ''.join(compressed)
string="aabcccccaaa"
compressed =compress_string(string)
print(string)
print(compressed)

aabcccccaaa
a2b1c5a3

3) Consider a scenario where you have a base class called Employee and derived classes such as Manager, Engineer, and Salesperson. How would you handle implementing a common method, such as calculateSalary(), in each derived class using inheritance and method overriding?

In [4]:


class Employee:
    def __init__(self, name, base_salary):
        self.name = name
        self.base_salary = base_salary

    def calculateSalary(self):
        return self.base_salary


class Manager(Employee):
    def __init__(self, name, base_salary, bonus):
        super().__init__(name, base_salary)
        self.bonus = bonus

    def calculateSalary(self):
        return self.base_salary + self.bonus


class Engineer(Employee):
    def __init__(self, name, base_salary, overtime_hours, hourly_rate):
        super().__init__(name, base_salary)
        self.overtime_hours = overtime_hours
        self.hourly_rate = hourly_rate

    def calculateSalary(self):
        return self.base_salary + (self.overtime_hours * self.hourly_rate)


class Salesperson(Employee):
    def __init__(self, name, base_salary, sales_amount, commission_rate):
        super().__init__(name, base_salary)
        self.sales_amount = sales_amount
        self.commission_rate = commission_rate

    def calculateSalary(self):
        return self.base_salary + (self.sales_amount * self.commission_rate)


# Example usage
manager = Manager("Alice", 60000, 10000)
engineer = Engineer("Bob", 70000, 10, 50)
salesperson = Salesperson("Charlie", 50000, 500000, 0.02)

print(f"{manager.name}'s salary: ${manager.calculateSalary()}")
print(f"{engineer.name}'s salary: ${engineer.calculateSalary()}")
print(f"{salesperson.name}'s salary: ${salesperson.calculateSalary()}")

Alice's salary: $70000
Bob's salary: $70500
Charlie's salary: $60000.0