<a href="https://colab.research.google.com/github/Uvaisbugh/Interview-Pre/blob/main/inamakes_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1 string_filter
def string_filter(string):
  #cleaned
  cleaned_string = ""
  for char in string:
    if char.isalpha() or char == ' ':
      cleaned_string += char
  #newline
  for char in cleaned_string:
    if char == ' ':
      print("\n", end='')
    else:
      print(char, end='')

input_string = """He said, That's what he said!"""
string_filter(input_string)

He
said
Thats
what
he
said

In [13]:
 #Q2 String reverse
def reverse_string(string):
  words=[]
  word =''

  for char in string:
    if char == '.':
      words.append(word)
      words.append(".")
      word =''
    else:
      word += char
  words.append(word)

  #reverse words
  left ,right =0, len(words)-1
  while left < right:
    words[left], words[right] = words[right], words[left]
    left += 1
    right -= 1
  return ''.join(words)



# Example usage
string = "hello.world.this.is.python"
print(reverse_string(string))  # Output: "python.is.this.world.hello"

python.is.this.world.hello

In [14]:
#pattern 01
def pascal_triangle(n):
    triangle = []  # This will store the rows of Pascal's Triangle

    # Generate the rows
    for i in range(n):
        row = [1] * (i + 1)  # Start with a row filled with 1's

        # Fill the inner elements (excluding the 1's)
        for j in range(1, i):
            row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]

        triangle.append(row)  # Add the row to the triangle

        # Print the row with spaces for alignment
        print(" " * (n - i - 1), end="")  # Center the row
        print(" ".join(map(str, row)))  # Print the row with spaces

# Call the function for n = 5
pascal_triangle(5)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [15]:
#pattern 02
def pattern(n):
  for i in range(1,n+1):
    for j in range(1,n+1):
      print(max(i,j), end=' ')
    print()
pattern(5)

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [16]:
#pattern 03
def pattern(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(i*j, end=' ')
    print()
pattern(5)

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [17]:
#pattern 04
def pattern(n):
  count = 1
  for i in range(1,n+1,2):
    for j in range(1,i+1):
      print(count, end=' ')
      count += 1
    print()
pattern(5)

1
2 3 4
5 6 7 8 9

In [20]:
#pattern 05
def pattern(n):
  for i in range(1,n+1):
    space = ' '*(n-i)
    print(space, end=' ')
    for j in range(i,0,-1):
      print((chr)(n-j+64+1), end=' ')
    print()
pattern(5)

     E
    D E
   C D E
  B C D E
 A B C D E

In [21]:
#pattern 06
def pattern(n):
  for i in range(n,0,-1):
    for j in range(i,0,-1):
      print(j, end=' ')
    print()
pattern(5)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [31]:
#pattern 07
def pattern(n):
  for i in range(n,0,-1):
    for j in range(i):
        print('*' ,end=" ")
    print()

pattern(5)

* * * * *
* * * *
* * *
* *
*

In [41]:
#pattern 08
def pattern(n):
  for i in range(1,n+1):
    for j in range(i):
      print('*' , end='')
    print("\n")
  print("\n")
  for i in range(n,0,-1):
    for j in range(i):
      print('*' , end='')
    print("\n")
pattern(5)

*

**

***

****

*****



*****

****

***

**

*

In [48]:
#pattern 09
def pattern(n):
  for i in range(n,0,-1):
    print(' '*(n-i), end='')
    for j in range(i):
      print("*", end=' ')
    print('\n')
  for i in range(1,n+1):
    print(' '*(n-i), end='')
    for j in range(i):
      print("*", end=' ')
    print('\n')
pattern(5)

* * * * *

 * * * *

  * * *

   * *

    *

    *

   * *

  * * *

 * * * *

* * * * *

In [50]:
#pattern 10
def pattern(n):
  for i in range(n):
    if i==0:
      print(" "*(n-i)+"*"*((2*(i))+1))
    else:
      print(" "*(n-i)+"*"+" "*((2*(i-1))+1)+'*')

  for i in range(n,-1,-1):
    if i==0:
      print(" "*(n-i)+"*"*((2*(i))+1))
    else:
     print(" "*(n-i)+"*"+" "*((2*(i-1))+1)+'*')
pattern(5)

     *
    * *
   *   *
  *     *
 *       *
*         *
 *       *
  *     *
   *   *
    * *
     *

In [55]:
#pattern 11
n=5
for i in range(n+1):
	x=n*2
	for j in range(i):
		print(x,end=' ')
		x-=2
	print()

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

In [56]:
#pattern 12
n=5

for i in range(4,0,-1):
	for j in range(1,i+1):
		print(j,end="*") if j != i else print(j, end="")
	print()

1*2*3*4
1*2*3
1*2
1

In [57]:
#Q4

string = "Python is A Progeamming Language "


def lower_upper(s):
	l_dic = {
		"upper": 0,
		"lower": 0
	}
	for letter in string:
		if letter.isupper():
			l_dic["upper"] += 1
		elif letter.islower():
			l_dic["lower"] += 1
	return l_dic


print(lower_upper(string))

{'upper': 4, 'lower': 24}

In [65]:
#Q5⭐
def is_prime(n):
	if n < 2:
		return False
	for i in range(2, int(n ** 0.5) + 1):
		if n % i == 0:
			return False
	return True


num = 17
print(is_prime(num))

True

In [58]:
#Q6
def value_swap(a,b):
	a, b = b, a
	return a, b

print(value_swap(6,7))

(7, 6)

In [ ]:
#Q7
class SubsetGenerator:
    def __init__(self, nums):
        self.nums = nums

    def get_subsets(self):
        result = [[]]  # Start with an empty subset
        for num in self.nums:
            result += [subset + [num] for subset in result]  # Generate new subsets
        return result

# Example usage
nums = [4, 5, 6]
generator = SubsetGenerator(nums)
print(generator.get_subsets())

In [66]:
#Q8
from abc import ABC, abstractmethod

class Car(ABC):
	@abstractmethod
	def sound(self):
		pass


class Honda(Car):
	def sound(self):
		return "phooo!"


class Benz(Car):
	def sound(self):
		return "phaaa!"


class Vw(Car):
	def sound(self):
		return "phee!"


# def horn(car):
# 	print(car.sound())

Accord = Honda()
S_class = Benz()
gti = Vw()

print(Accord.sound())
print(S_class.sound())
print(gti.sound())
# horn(Accord)
# horn(S_class)
# horn(Vw)
#

phooo!
phaaa!
phee!

In [ ]:
#Q10
class BankAccount:
    def __init__(self, name, balance):
        self.name = name
        self._balance = balance  # Making balance private

        print(f"Account created successfully for {self.name}.")
        print(f"Initial balance: 💲{self._balance}")

    def deposit(self, amount):
        if amount > 0:
            self._balance += amount
            print(f"Successfully deposited 💲{amount}.")
            print(f"Your new balance is 💲{self._balance}.")
        else:
            print("Deposit amount must be positive.")

    def withdrawal(self, amount):
        if amount > 0:
            if self._balance >= amount:
                self._balance -= amount
                print(f"Withdrawal of 💲{amount} successful.")
            else:
                print("Insufficient balance.")
        else:
            print("Withdrawal amount must be positive.")

    def account_balance(self):
        print(f"Mr. {self.name}, your account balance is 💲{self._balance}.")


    def __str__(self):
        return f"Account owner: {self.name}, Balance: 💲{self._balance}"

# Example usage
Jose = BankAccount("Uvais", 200)
Jose.deposit(500)
Jose.withdrawal(150)
Jose.account_balance()

# Transfer money between accounts
Ali = BankAccount("Ali", 1000)

print(Ali)
print(Jose)

In [67]:
#Q11
class PalindromeChecker:
	def __init__(self, text):
		self.text = text  # Store the string to be checked

	def is_palindrome(self):
		left = 0
		right = len(self.text) - 1

		while left < right:
			if self.text[left] != self.text[right]:
				return False
			left += 1
			right -= 1
		return True

	def __str__(self):
		return f"The text '{self.text}' is a palindrome: {self.is_palindrome()}"


# Example usage:
checker = PalindromeChecker("madam")
print(checker)  # Will print whether "madam" is a palindrome

checker2 = PalindromeChecker("hello")
print(checker2)  # Will print whether "hello" is a palindrome

The text 'madam' is a palindrome: True
The text 'hello' is a palindrome: False

In [68]:
#Q12
def anagram(str1,str2):
	str1 = str1.replace(" ", "").lower()
	str2 = str2.replace(" ", "").lower()
	return sorted(str1) == sorted(str2)

print(anagram("Lis ten","Si lent"))

True

In [ ]:
#Q13
def count_word_occurrences(file_path):
    word_count = {}

    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            for line in file:
                words = line.lower().replace('.', '').replace(',', '').split()
                for word in words:
                    word_count[word] = word_count.get(word, 0) + 1  # Count words

        return word_count

    except FileNotFoundError:
        print("Error: File not found.")
        return {}

# Example usage
file_path = "sample.txt"  # Replace with your file path
print(count_word_occurrences(file_path))

In [ ]:
#Q14
def find_longest_shortest_words(word_list):
    longest_word = max(word_list, key=len)
    shortest_word = min(word_list, key=len)
    return longest_word, shortest_word

# Example usage
word_list = ["apple", "airplane", "carrot", "elephant", "guitar", "moonlight"]
longest, shortest = find_longest_shortest_words(word_list)

print("Longest word:", longest)  # Output: airplane
print("Shortest word:", shortest)  # Output: apple

In [ ]:
#Q14B
def sum_of_differences(num):
	num.sort(reverse=True)

	diff_sum = 0
	for i in range(1, len(num)):
		diff_sum += num[i - 1] - num[i]

	return diff_sum


numbers = [10, 20, 5, 40, 15]
result = sum_of_differences(numbers)

print("Sorted list in descending order:", numbers)
print("Sum of differences between consecutive elements:", result)

In [ ]:
#Q15
from collections import Counter


def count_elements(arr):
	# Count the occurrences of each element using Counter
	counts = Counter(arr)

	# Print the element and its count
	for element, count in counts.items():
		print(f"{element}={count}")


# Example usage
arr = [1, 4, 5, 2, 1, 4]
count_elements(arr)

In [ ]:
#Q16
from collections import Counter

def find_most_repeated(string):
	count = Counter(string)
	most_common_letter, count = count.most_common(1)[0]
	return most_common_letter, count


input = 'abbababbababcaabcbac'
print(find_most_repeated(input))

In [69]:
#Q17
def add_numbers(a, b):
    while b != 0:
        a += 1
        b -= 1
    return a

# Example usage
num1 = 5
num2 = 7
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is {result}")

The sum of 5 and 7 is 12

In [70]:
#Q18
def reverse_second_half(array):

	mid = len(array) // 2

	array[mid:] = array[mid:][::-1]
	return array


arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = reverse_second_half(arr)
print(result)

[1, 2, 3, 4, 5, 10, 9, 8, 7, 6]

In [71]:
#Q19

def remove_odd(s):
	return s[::2]

a= "python is a programming language"
print(remove_odd(a))

pto sapormiglnug

In [72]:
#Q20
def compress_string(string):
	compressed = ""
	count = 1

	for i in range(1, len(string)):
		if string[i] == string[i - 1]:
			count += 1
		else:
			compressed += string[i - 1] + str(count)
			count = 1

	compressed += string[- 1] + str(count)
	return compressed


input_string = "aabcccccaaa"
compressed_string = compress_string(input_string)
print("Compressed string:", compressed_string)

Compressed string: a2b1c5a3

In [1]:
#Q21
def check_fibonacci(n):
	a, b = 0, 1
	while a < n:
		a, b = b, a + b
	return a == n


num = int(input("number : "))
if check_fibonacci(num):
	print(f"{num} is a fibonacci number.")
else:
	print(f"{num} is not a fibonacci number.")

number : 20
20 is not a fibonacci number.

In [2]:
#Q22
def found_larger(l):
	arr = list(set(l))
	arr.sort(reverse=True)
	return arr[1]


lists=[ 1,7,8,5,12,15]
print(found_larger(lists))

12

In [3]:
#Q23
from functools import reduce

febnacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n - 2), [0, 1])

n = 10
print(febnacci_series(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#Q24

def char_count(string):
	char_dict = {}  # Dictionary to store character counts

	# Count occurrences of each character
	for char in string:
		char_dict[char] = char_dict.get(char, 0) + 1

	# Print each character with its count
	for char, count in char_dict.items():
		print(f"'{char}' appears {count} times")


# Example usage
text = "hello world"
char_count(text)

In [4]:
#Q25
def first_non_repeating(are):
	e_dic = {}
	for num in are:
		e_dic[num] = e_dic.get(num, 0) + 1

	for num in are:
		if e_dic[num] == 1:
			return num
	return None


arr = [4, 5, 1, 2, 0, 5, 1, 2]
print("First non-repeating element:", first_non_repeating(arr))

First non-repeating element: 4

In [ ]:
#Q26
class Calculator:
    # Class attribute
    history = []

    def __init__(self, a, b):
        self.a = a
        self.b = b

    # Instance method (uses self)
    def add(self):
        result = self.a + self.b
        Calculator.history.append(f"{self.a} + {self.b} = {result}")
        return result

    # Class method (uses cls)
    @classmethod
    def show_history(cls):
        return cls.history

    # Static method (does not use self or cls)
    @staticmethod
    def multiply(x, y):
        return x * y

# Example usage
calc1 = Calculator(5, 3)
print("Addition:", calc1.add())  # Calls instance method

print("Multiplication (static method):", Calculator.multiply(4, 7))  # Calls static method

print("History (class method):", Calculator.show_history())  # Calls class method