<a href="https://colab.research.google.com/github/Uvaisbugh/Interview-Pre/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def nForest(n: int) -> None:
    # Write your solution here.
    for i in range(n):
        for j in range(n):
            print("*", end=" ")
        print()

nForest(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
def nForest1(n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print("*", end=" ")
        print()
nForest1(5)

*
* *
* * *
* * * *
* * * * *

In [11]:
def nForest2(n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print(j+1, end=" ")
        print()
nForest2(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
def triangle( n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print(i, end=" ")
        print()
triangle(7)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [13]:
def y_pettern(n):
  for i in range(n,0,-1):
    for j in range(i):
      print("*",end=" ")
    print()
y_pettern(7)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
def y_numbers(n):
  for i in range(n,0,-1):
    for j in range(i):
      print(j+1,end=" ")
    print()
y_numbers(7)

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [32]:
def nStarTriangle(n: int) -> None:
    stars = 1
    empty = n-1
    for i in range(n):
        print("{}{}{}".format(' '*empty, '*'*stars, ' '*empty))
        stars+=2
        empty-=1
nStarTriangle()

  *****
 *******
*********

In [34]:
def pyramid(n):
  stars=2* n - 1
  empty= 1
  for i in range(n+1):
    print("{}{}{}".format(' '*empty, '*'*stars, ' '*empty))
    stars-=2
    empty+=1
pyramid(3)

 *****
  ***
   *

In [40]:
def nStarDiamond(n: int) -> None:
    star=1
    empty= n-1
    for i in range(n):
        print("{}{}{}".format(' '*empty,'*'*star,' '*empty))
        star +=2
        empty -=1

    star =2*n -1
    empty = 0
    for j in range(n):
        print("{}{}{}".format(' '*empty,'*'*star,' '*empty))
        star -=2
        empty +=1

nStarDiamond(3)

  *
 ***
*****
*****
 ***
  *

In [50]:
def draw(n):
  i = 1
  while i< n:
    print('*'*i)
    i +=1
  while i>0:
    print('*'*i)
    i -=1



draw(3)

*
**
***
**
*

In [2]:
def nBinaryTriangle(n: int) -> None:
    for i in range(1, n + 1):
        for j in range(i):
            print((j + i) % 2, end=" ")
        print()

nBinaryTriangle(6)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [3]:
'''
    Time Complexity - O( N * N )
    Space Complexity - O( 1 )

    where N is the given input.
'''


def nBinaryTriangle2(n: int) -> None:

    # Initialise 'num'.
    num = 1
    for i in range(n):
        for j in range(1, num+1):
            print((i + j) & 1, end=" ")

        # End the current line.
        print()

        num += 1

nBinaryTriangle2(6)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [4]:

n=4
for i in range(n):
  print(" "*(n-i)+"*"*(2*i+1))
for i in range(n-2,-1,-1):
  print(" "*(n-i)+"*"*(2*i+1))

    *
   ***
  *****
 *******
  *****
   ***
    *

In [12]:
for i in range(n):
  if i==0:
    print(" "*(n-i)+"*"*((2*(i))+1))
  else:
    print(" "*(n-i)+"*"+" "*((2*(i-1))+1)+'*')

for i in range(n,-1,-1):
  if i==0:
    print(" "*(n-i)+"*"*((2*(i))+1))
  else:
    print(" "*(n-i)+"*"+" "*((2*(i-1))+1)+'*')

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [6]:
n=5
for i in range(1,n+1):
  for j in range(n,0,-1):
    if (i>=j) :
      print(i,end=" ")
    else:
      print(" ", end=" ")
  print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5