<a href="https://colab.research.google.com/github/Uvaisbugh/Interview-Pre/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def nForest(n: int) -> None:
    # Write your solution here.
    for i in range(n):
        for j in range(n):
            print("*", end=" ")
        print()

nForest(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
def nForest1(n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print("*", end=" ")
        print()
nForest1(5)

*
* *
* * *
* * * *
* * * * *

In [11]:
def nForest2(n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print(j+1, end=" ")
        print()
nForest2(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
def triangle( n:int) ->None:
    for i in range(n+1):
        for j in range(i):
            print(i, end=" ")
        print()
triangle(7)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [13]:
def y_pettern(n):
  for i in range(n,0,-1):
    for j in range(i):
      print("*",end=" ")
    print()
y_pettern(7)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
def y_numbers(n):
  for i in range(n,0,-1):
    for j in range(i):
      print(j+1,end=" ")
    print()
y_numbers(7)

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [15]:
def nStarTriangle(n: int) -> None:
    stars = 1
    empty = n-1
    for i in range(n):
        print("{}{}{}".format(' '*empty, '*'*stars, ' '*empty))
        stars+=2
        empty-=1

In [16]:
def nStarTriangle1(n: int) -> None:
    stars = 1
    empty = n-1
    for i in range(1,n,-1):
        print("{}{}{}".format(' '*empty, '*'*stars, ' '*empty))
        stars-=2
        empty+=1

In [17]:
nStarTriangle1(5)